.tags .tag{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255,255,255,0.2);
    color: white;
}

.title:not(:last-child), .subtitle:not(:last-child) {
    margin-bottom: 0.4em;
}

hr{
    margin: 10px;
}

.title{
    color: #b668ff;
    font-weight: bold;

}

.date{
    text-align: center;
}

.task_completed{
    text-align: center;
}

.task_text{
    margin-top: 30px;
    padding-left: 5px;
    color: white;
}

.task{
    margin-top: 20px;
}

