

.navbar{
    margin-bottom: 10px;
    background-color: #434C5E !important;
    color: white !important; 
    height: 10px;
}

nav .fa{
    padding-right: 10px;
}

nav a{
    color: white;
}

nav .navbar-item{
    color: white;
}

nav .navbar-item:hover{
    color: #b668ff !important;
}

.logo{
    font-weight: bolder;
    font-style: italic;
    font-size: 1.5em;
    padding-left: 30px;
}

.tabs a{
    color: white;
}

.tabs a:hover{
    color: white;
}

nav i:hover{
    color: #b668ff !important;

}

.dropdown-menu i{
    padding-left: 30px;
}

.burger{
    background-color: #b668ff !important;
}

.burger span{
    background-color: white !important;
    border-top: 1px solid white;
    border-bottom: 1px solid white;

}

#navMenuExample{
    background-color: #434C5E !important;
    
    border-top: 1px solid rgba(255,255,255,0.2);
    
}

#navMenuExample a :hover {
    color: white !important;
}