

@import "~bulma/sass/utilities/_all";


$dark_bg: #2a2a34;
$dark_bg2: #2E3440;


$primary: #b668ff;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

$grey-darker: white;
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;


$title: #fff;




@import "~bulma";
@import "~buefy/src/scss/buefy";




